<ion-content id="content">
    <a href="/">
      <div id="back-to-home">
        <img/>
      </div>
    </a>
    <section id="home-screen">
      <img id="img-person"/>
      <!-- <hr class="lines -home">
      <hr class="lines -home">  -->
      <h1 id="name-person">Gustavo Cunha</h1>
      <h3 id="profession-person">Programador back-end</h3>
    </section> 
  
    <section id="knowledge">
      <h1 class="title-section">Conhecimentos</h1>
      <div id="grid-content">
        <div class="box">
          <h1>Java</h1>
        </div>
        <div class="box">
          <h1>C#</h1>
        </div>
        <div class="box">
          <h1>PHP</h1>
        </div>
        <div class="box">
          <h1>Inglês</h1>
        </div>
        <div class="box">
          <h1>SQL</h1>
        </div>
      </div>
    </section>
  
    <section id="contact">
      <h1 class="title-section">Entre em contato</h1>
      <div id="grid-contact">
        <div id="side-form">
          <h1 id="title-side">Mande um email</h1>
          <form>
              <div id="subgrid-form">
                <input placeholder="Nome">
                <input placeholder="Email">
              </div>
              <input placeholder="Assunto">
              <textarea placeholder="Messagem"></textarea>
              <button>Enviar</button>    
          </form>
        </div>
        <div id="side-data">
          <h1 id="title-side">Dados pessoais</h1>
          <div id="data-content">
            <ul>
              <li>Telefone</li>
              <li>Email</li>
              <li>Endereço</li>
            </ul>
            <ul>
              <li>(xx) xxxx - xxxx</li>
              <li>gustavoAlves@gmail.com</li>
              <li>Rua feliciano mendonça, 179 <br> São Paulo - SP</li>
            </ul>
          </div>
          
        </div>
      </div>
    </section>
  
  </ion-content>
  